@model IEnumerable<Electronic_Shop.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee</h2>
@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["UpdateMessage"])
@Html.Raw(TempData["DeleteMessage"])


@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <b>Search By: </b> @Html.RadioButton("searchBy", "cnic")<text>CNIC</text>
    @Html.RadioButton("searchBy", "name", true)<text>Name</text><br /><br />

    @Html.TextBox("Search")<input type="submit" value="Search" /><br /><br />
}
<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Address)
            </td>
            <td>
                <img src="@Url.Content(item.EmployeeImage)" height="80" width="80" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Employee_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Employee_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Employee_Id })
            </td>
        </tr>
    }

</table>
<h1>@Html.ActionLink("Logout", "Logout", "User")</h1>
